rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Aturan untuk profil user
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // ATURAN BARU UNTUK MENUS
    match /menus/{menuId} {
      // Mengizinkan siapa saja (termasuk yang belum login) untuk melihat daftar menu
      allow read: if true; 
      
      // Sementara mengizinkan siapa saja yang sudah login untuk menambah/edit menu
      allow write: if request.auth != null; 
    }
    
  }
}